$shadow-color: #f8f8f8;
$p-color: #bbbbbc;
$bg-color: linear-gradient(to bottom, #f38181, #fe987a, #ffb078, #ffca7d, #fce38a);
$box-color:#95e1d3;
$line-color: #f38181;
$icon-color:#fce38a;
$btn-color: #cccccc;